{% extends 'base.html.twig' %}

{% block title %}{{titre}}{% endblock %}

{% block javascripts %}
    <script type="application/json" id="mercure-url-notification">
        {{ mercure('https://notification/' ~ user.getId() ~ '/message/' ~ discussion)|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
    </script>
    <script type="application/json" id="mercure-url">
        {{ mercure('https://message')|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
    </script>
    <script type="application/json" id="user-username">
        {{ user.getUsername() | json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/date_diff.js') }}"></script>
    <script src="{{ asset('js/affichage_chat.js') }}" defer></script>
    <script src="{{ asset('js/envoyer_message.js') }}" defer></script>
{% endblock %}

{% block body %}
    <style>
        *{padding:0;margin:0;box-sizing:border-box; text-decoration:none;}
        header{display:flex; justify-content:space-between; align-items:center; padding : 0 50px;}
        header h1{font-size : 70px;text-shadow: 0px 0px 3px white; color:#25521c}
        #titre{flex-grow:1; color:rgb(255,255,255); text-align:center; font-size:40px}
        body{background-color:rgb(27,27,27); overflow-x:hidden; width:100vw; position:relative;}
        #liste_message{display:flex;flex-direction:column; width:100vw;padding: 0 5%; height:calc(96vh - 120px); overflow-y:scroll;overflow-x:hidden;}
        .message{display:grid; align-items:center; grid-template-columns: 1fr 4fr 2fr; margin-bottom:20px;width:clamp(500px, 100%, 800px);color:white}
        .nom{grid-column:1/3;grid-row:1/2; padding : 0 5%; justify-self:center}
        .message_info{ align-items:center;position:relative;grid-column:1/3; grid-row:2/3; background-color:#78b968; border-radius:65px;display:flex}
        .photo_conteneur{background-color:rgb(200,200,200); border-radius:50%; overflow:hidden; height: 50px; width : 50px; display:flex; justify-content:center; align-items:center;}
        .photo{width:95%; height:95%}
        .message_contenu{max-width:calc(100% - 50px);word-break:break-word;align-self:center; flex-grow:1;; padding:0 5%}
        .date_message{grid-column:3/4;grid-row:2/3; padding : 0 10%;}
        .message_user{word-break:break-word;display:grid; align-items:center; align-self:end; grid-template-columns: 2fr 4fr 1fr; margin-bottom:20px;width:clamp(500px, 100%, 800px);color:white}
        .nom_user{grid-column:2/4;grid-row:1/2; padding : 0 5%; justify-self:center}
        .message_info_user{ align-items:center;position:relative;grid-column:2/4; grid-row:2/3; background-color:#25521c; border-radius:65px;display:flex; flex-direction:row-reverse}
        .message_contenu_user{max-width:calc(100% - 50px);word-break:break-word;align-self:center; flex-grow:1;; padding:0 5%; text-align:end}
        .date_message_user{grid-column:1/2;grid-row:2/3; padding : 0 10%;}
        #zone_input{width:100vw; padding : 0 10%; height:10vh; position:fixed;top:90vh;display:flex;justify-content:center; align-items:center}
        #ajout_fichier{border-radius:50%; background-color:rgb(255,255,255);width:34px; height:34px;}
        #creer_son_image_video{border-radius:50%;margin: 0 20px; background-color:rgb(255,255,255);width:34px; height:34px;}
        #input_utilisateur{height:40px; background-color:rgb(255,255,255); border-radius:50px;width:clamp(200px, 60%, 800px); display:flex;justify-content:center; align-items:center; position:relative;}
        #envoyer_message{width:100%; height:100%; background:rgba(0,0,0,0); border:none; padding:10px 20px; resize:none;}
        #ajout_emote{border-radius:50%;margin: 0 20px; background-color:rgb(255,255,255);width:34px; height:34px;}
        #plus_d_options{border-radius:50%; background-color:rgb(255,255,255);width:34px; height:34px;}
        ::-webkit-scrollbar{width:5px; background-color:rgb(20,20,20); }
        ::-webkit-scrollbar-track {box-shadow: inset 0 0 5px grey; border-radius: 10px;}
        ::-webkit-scrollbar-thumb {background-color:black;border-radius:10px;}
        header a h1 img {filter: drop-shadow(0 0 1px white);}
        .version2{display:none;}
        ::-webkit-scrollbar-thumb {background-color: white; border-radius: 10px;}
        ::-webkit-scrollbar {width: 5px;background-color: rgb(0 0 0);}
        .zone_input2{display:none}
        @media screen and (max-width:550px){
            .version2{display:flex;}
            .version1{display:none;}
            .date_message_user{display:none;}
            .date_message{display:none;}
        }
        @media screen and (max-width:450px){
            .zone_input1{display:none;}
            .zone_input2{display:flex;}
        }
        @media screen and (max-width:400px){
            .message{width:400px;}
            .message_user{width:400px;}

        #ajout_fichier{width:28px; height:28px;margin: 0 10px;}
        #creer_son_image_video{width:28px; height:28px;margin: 0 10px;}
        #ajout_emote{width:28px; height:28px;margin: 0 10px;}
        #plus_d_options{width:28px; height:28px;margin: 0 10px;}
        #zone_input{padding:0;}
        }
        @media screen and (max-width:350px){
        #ajout_fichier{width:20px; height:20px;margin: 0 10px;}
        #creer_son_image_video{width:20px; height:20px;margin: 0 10px;}
        #ajout_emote{width:20px; height:20px;margin: 0 10px;}
        #plus_d_options{width:20px; height:20px;margin: 0 10px;}
        #zone_input{padding:0;}
        }
        @media screen and (max-width:320px){
            .message{width:350px;}
            .message_user{width:350px;}
        }
</style>
    <header class="version1">
        <a style="color:black;" href="{{ path('accueil') }}"><h1>C<span><img src="{{ asset('img/coze.svg') }}" height="48px"></span>ZE</h1></a>
        <h2 id='titre'>{{titre}}</h2>
    </header>
    <header class="version2">
        <a style="color:black;" href="{{ path('accueil') }}"><h1><span><img src="{{ asset('img/coze.svg') }}" height="48px"></span></h1></a>
        <h2 id='titre'>{{titre}}</h2>
    </header>
    <main>
        <div id='liste_message'>
            {% for message in messages %}
                {% if not message.getUserId() is same as(user) %}
                    <div class='message'>
                        <h3 class='nom'>{{ message.getUserId().getUsername() }}</h3>
                        <div class='message_info'>
                            <div class='photo_conteneur'>
                                <img class='photo' src='{{ asset(message.getUserId().getPhoto()) }}' alt='photo_discussion'>
                            </div>
                            <p class='message_contenu'>{{ message.getMessage() }}</p>
                        </div>
                        <p class='date_message' date="{{ message.getDateEnvoi() | date}}" >{{ message.getDateEnvoi() | date()}}</p>
                    </div>
                {% else %}
                    <div class='message_user'>
                        <h3 class='nom_user'>{{ user.getUsername()}}</h3>
                        <div class='message_info_user'>
                            <div class='photo_conteneur'>
                                <img class='photo' src='{{ asset(user.getPhoto()) }}' alt='photo_user'>
                            </div>
                            <p class='message_contenu_user'>{{ message.getMessage() }}</p>
                        </div>
                        <p class='date_message_user' date="{{ message.getDateEnvoi() | date}}" >{{ message.getDateEnvoi() | date}}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div id='zone_input' class="zone_input1">
            <div id='ajout_fichier'></div>
            <div id='creer_son_image_video'></div>
            <div id='input_utilisateur'>
                <textarea id='envoyer_message'></textarea>
            </div>
            <div id='ajout_emote'></div>
            <div id='plus_d_options'></div>
        </div>
    </main>
{% endblock %}