{% extends 'base.html.twig' %}

{% block javascripts %}
    {% for discussion in discussions %}
        <script type="application/json" class="mercure-url">
            {{ mercure('https://message/' ~ discussion.getId())|json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_HEX_TAG'))|raw }}
        </script>
    {% endfor %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/date_diff.js') }}" ></script>
    <script src="{{ asset('js/reponse_notification.js') }}" defer></script>
    <script src="{{ asset('js/affichage_discussion.js') }}" defer></script>
{% endblock %}

{% block body %}
    <style>
        body{min-width: 470px;}
        *{padding:0;margin:0;box-sizing:border-box; text-decoration:none;}
        header{display:flex; justify-content:space-between;;margin-bottom:100px; align-items:center; padding : 0 50px;}
        header h1{font-size : 70px}
        body{background-color:rgb(54,54,54); overflow-x:hidden; width:100vw}
        header a{text-decoration:none;}
        #recherche{display: flex;justify-content: center;color: whitesmoke;position:absolute;top:20px;left:50%;transform:translateX(-50%);}
        #recherche .barre {background: url('{{ asset('img/loupe 1.svg') }}') center no-repeat; background-size: contain;border: none;height: 40px;width: 40px;cursor: pointer;transition: transform 125ms;animation: retrecissement_recherche 625ms;color: transparent;}
        #recherche .barre:hover {transform: scale(120%);}
        #recherche .barre:focus {background: none;border: solid 1px rgb(255, 255, 255);height: 21px;width: 380px;color: whitesmoke;cursor: text;transform: scale(100%);animation: elargissement_recherche 500ms;}
        @keyframes elargissement_recherche {from {width: 0px;} to {width: 380px;}}
        @keyframes retrecissement_recherche {from {background: none;border: solid 1px rgb(255, 255, 255);width: 380px;height: 21px;} 20% {background: none;border: solid 1px rgb(255, 255, 255);width: 380px;height: 21px;} to {background: none;border: solid 1px rgb(255, 255, 255);width: 0px;height: 21px;}}
        #header_end{display:flex;align-items:center;position:relative;}
        #lien_notification{height:40px; width:40px;transition-duration:0.5s; cursor:pointer;margin-right: 4vw;}
        #lien_notification:hover{transform: scale(120%)}
        #liste_notification{position:absolute;top:115%;max-height:0px;border:0; height:fit-content;min-width:400px;overflow:hidden;background-color:rgb(90,90,90); transition-duration:0.5s; right:calc(100% - 50px);}
        .notification{display:grid; grid-template-columns : 1fr 2fr 2fr; align-items: center;justify-items: center;padding:10px 5px 10px 5px;cursor:pointer;}
        .notification:hover{transform:scale(1.05);}
        .logo_notification{grid-column:1/2; grid-row:1/3; height:50px; width : 50px; border-radius:50%;}
        #nombre_notification{background-color:red; padding:5px; border-radius:50%;color:white; position:absolute; top:0; width:10px; height:10px; box-sizing:content-box; font-size:10px; text-align:center;}
        #case_menu_notification{display:none}
        #case_menu_notification:checked ~ #liste_notification{max-height:500px; border:3px ridge rgb(70,70,70) ;padding:20px; }
        #lien_lateral{height:60px;width:60px;border-radius:50%;background-color:#549956; position:absolute; left:-30px;top:8px;}
        .overlay{height:100vh;background-color:rgb(20,20,20,0); transition-duration:1s;position:absolute;top:0;left:0;z-index:10;max-width:0;width:80vw;}
        #case_menu_lateral:checked ~ label .overlay{display:block; max-width:80vw; background-color:rgba(30,30,30,0.8)}
        #liste_conversations{display:flex;flex-direction:column; width:100vw;padding:5%;align-items:center}
        .discussion{display:grid; align-items:center; grid-template-columns: 1fr 4fr 2fr; grid-auto-rows: 50px;margin-bottom:20px;width:clamp(500px, 100%, 800px); background-color:#549956; border-radius:65px; color:white}
        .photo_discussion_conteneur{grid-column:1/2; grid-row:1/3; background-color:rgb(200,200,200); border-radius:50%; overflow:hidden; height: 100px; width : 100px; display:flex; justify-content:center; align-items:center;}
        .photo_discussion{width:95px; height:95px}
        .nom_discussion{grid-column:2/3;grid-row:1/2; padding : 0 5%;}
        .dernier_message{grid-column:2/3;grid-row:2/3; padding : 0 10%;}
        .date_dernier_message{grid-column:3/4;grid-row:1/3; padding : 0 10%;}
        #plus_discussion{display:flex;justify-content:center;align-items:center; color:rgb(160,160,160); cursor:pointer; height:50px;}
        .barre_horizontale{height:1px; background-color:rgb(160,160,160);width:clamp(50px, 30vw, 200px);margin:0 5%}
        #menu_lateral{position:absolute;top:0;left:98vw;width:20vw;padding:0 2%;transition-duration:1s; display:flex; flex-direction:column;align-items:center;z-index:10; min-height:100vh; background-color:rgba(100,100,100,0.5)}
        #case_menu_lateral{display:none;}
        #case_menu_lateral:checked ~ #menu_lateral{left:80%; background-color:rgb(50,50,50)}
        .barre_horizontale_lateral{height:1px; background-color:rgb(120,120,120);width:100%;margin:20px 5%}
        #photo_user{width:clamp(30px, 100%, 100px);margin-top:20px;}
        #titre_lateral{color:rgb(120,120,120);margin-bottom :10px }
        #liste_amis{flex-grow:1; color:rgb(120,120,120)}
        .photo_amis{height:65px; margin-right:10px}
        .ami{display:flex; justify-content:center;padding : 10px;cursor:pointer; color:rgb(120,120,120); align-items:center}
        #deconnection{height:50px;width:50px; margin : 20px 0}
        #lienmodif{width: clamp(30px, 100%, 100px);margin-top: 20px;}
        @media  screen and (max-width:666px) {
            #menu_lateral{width:30vw;}
            #case_menu_lateral:checked ~ #menu_lateral{left:70%;}
        }
        @media  screen and (max-width:430px) {
            #menu_lateral{width:40vw;}
            #case_menu_lateral:checked ~ #menu_lateral{left:60%;}
        }
        @media  screen and (max-width:900px) {
            #recherche{position:relative;margin-top:-50px;margin-bottom:50px;}
        }
        #label_input{margin-left:7px;width:25px;}
        #label_input img{position:absolute;}
        #id_input{visibility:hidden;width:25px;}
    </style>

    <header>
        <a style="color:black;" href="{{ path('accueil') }}"><h1>C<span><img src="{{ asset('img/coze.svg') }}" height="48px"></span>ZE</h1></a>
        <div id='header_end'>
            <label for='case_menu_notification' style='position:relative;'>
                <img id='lien_notification' src="{{ asset('img/cloche COZE.svg') }}" alt='lien vers les notifications'>
                {% if not notifications is empty %}
                    <p id='nombre_notification'>{{notifications | length}}</p>
                {% endif %}
            </label>
            <input type='checkbox' id='case_menu_notification'>
            <div id='liste_notification'>
                {% if notifications is empty %}
                    <p style='text-align:center;'>Aucune notifications</p>
                {% else %}
                    {% for notification in notifications %}
                        {% if notification.getUrl() is empty %}
                            {% if notification.getType() is same as("info_accepter") %}
                                <div class='notification' id="{{ 'notification' ~ notification.getId() }}" onclick="notifier(event)">
                            {% elseif notification.getType() is same as("confirmation") %}
                            <div class='notification'>
                            {% endif %}
                        {% else %}
                            <a href="{{ notification.getUrl() }}" onclick="notifier(event)" class='notification' id="{{ 'notification' ~ notification.getId() }}">
                        {% endif %}
                            <img class='logo_notification' src="{{asset(notification.getLogo())}}" alt='logo de notification'>
                            {% if notification.getType() is same as("confirmation") %}
                                <p style="grid-column: 2/4;grid-row: 1/2;padding: 10px;text-align: center;color: rgb(230,230,230);">{{notification.getMessage()}}</p>
                                <button style="grid-column:2/3; grid-row:2/3; justify-self: end;background-color:transparent;border:none;margin-right:5px;cursor:pointer;" id="{{ 'confirmation' ~ notification.getId() }}" class="confirmation"><img src="{{asset('img/valider.png')}}" height="20px"></button> 
                                <button style="grid-column:3/4; grid-row:2/3; justify-self: baseline;background-color:transparent;border:none;margin-left:5px;cursor:pointer;" id="{{ 'refus' ~ notification.getId() }}" class="refus"><img src="{{asset('img/refuser.png')}}" height="20px"></button>
                            {% elseif notification.getType() is same as("info_accepter")%}
                                <p style="grid-column:2/4; grid-row:1/3;text-align: center;color: rgb(230,230,230);">{{notification.getMessage()}}</p>
                            {% elseif notification.getType() is same as("url") %}
                                <p style="grid-column:2/4; grid-row:1/3;text-align: center;color: rgb(230,230,230);">{{notification.getMessage()}}</p>
                            {% endif %}
                        {% if notification.getUrl() is empty %}
                            </div>
                        {% else %}
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </header>

    <main>
        <div id="recherche">
            <input class="barre" type="text" name="text" id="barreSearch">
        </div>
        <input type='checkbox' id='case_menu_lateral'>
        <label for='case_menu_lateral'>
            <div class='overlay'></div>
        </label>
        <div id='liste_conversations'>
            {% set affichage = 0 %}
            {% for discussion in discussions %}
                {% if discussion.hasAnyMessage() and affichage < 3 %}
                    {% set affichage = affichage + 1 %}
                    <a href="{{ 'discussion/' ~ discussion.getId()}}"class='discussion'>
                        <div class='photo_discussion_conteneur'>
                        {% if not discussion.getPhoto() is empty %}
                            <img class='photo_discussion' src='{{ asset(discussion.getPhoto()) }}' alt='photo_discussion'>
                        {% else %}
                            {% for membre in discussion.getMembres() %}
                                {% if not membre.getUsername() is same as(user.getUsername()) %}
                                    <img class='photo_discussion' src='{{ asset(membre.getPhoto()) }}' alt='photo_discussion'>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </div>
                        {% if not discussion.getNom() is empty%}
                            <h3 class='nom_discussion'>{{ discussion.getNom() }}</h3>
                        {% else %}
                            {% for membre in discussion.getMembres() %}
                                {% if not membre.getUsername() is same as(user.getUsername()) %}
                                    <h3 class='nom_discussion'>{{ membre.getUsername }}</h3>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if not discussion.getMessages() is empty %}
                            <p class='dernier_message'>{{ (discussion.getMessages() | last).getMessage() }}</p>
                            <p class='date_dernier_message'  date="{{ (discussion.getMessages() | last).getDateEnvoi() | date}}">{{ (discussion.getMessages() | last).getDateEnvoi() | date}}</p>
                        {% endif %}
                    </a>
                {% endif %}
            {% endfor %}
            <div id='plus_discussion'>
                <div class='barre_horizontale'></div>
                    <p>Plus&nbsp;de&nbsp;conversation</p>
                <div class='barre_horizontale'></div>
            </div>
        </div>

        <div id='menu_lateral'>
            <label for='case_menu_lateral'>
                <div id='lien_lateral'></div>
                {# <img class='lien_lateral' src='' alt='lien panneau latéral'> #}
            </label>
            <a id="lienmodif" href="{{ path('profil', {id: user.getId()}) }}"><img id='photo_user' src='{{ asset(user.getPhoto()) }}' alt='photo_user'></a>
            <!--<label for="id_input" id="label_input"><img src="{{ asset('img/plus.png') }}" height="20px"><input type="file" id="id_input"></label>-->
            <div class='barre_horizontale_lateral'></div>
            <h3 id='titre_lateral'>Amis&nbsp;-&nbsp;{{ amis | length}}</h3>
            <div id='liste_amis'>
                {% for ami in amis %}
                    <a href="{{'discussion/check/' ~ ami.getId()}}" class='ami'>
                        <img class='photo_amis' src="{{asset(ami.getPhoto())}}" alt='photo de {{ami.getUsername()}}'>
                        <p>{{ami.getUsername()}}</p>
                    </a>
                {% endfor %}
            </div>
            <a href="{{ path('app_logout') }}"><img id='deconnection' src='{{ asset('img/se deconnecter.png') }}' alt='deconnection'></a>
        </div>
    </main>
{% endblock %}