<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}COZE{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/coze.svg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <section id="section_1">
            <header>
                <a style="color:black;" href="{{ path('home') }}"><h1>C<span><img src="{{ asset('img/coze.svg') }}" height="48px"></span>ZE</h1></a>
                <div class="container"><a href="{{ path('home') }}"><button class="btn">INSCRIPTION</button></a></div>
            </header>
            {% block body %}{% endblock %}
        </section>      

    </body>
</html>
