<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}COZE{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/coze.svg') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <section id="section_1">
            <header>
                <h1>C<span><img src="{{ asset('img/coze.svg') }}" height="48px"></span>ZE</h1>
                <div class="container"><button class="btn" href="">INSCRIPTION</button></div>
            </header>
            {% block body %}{% endblock %}
        </section>      

    </body>
</html>
